<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Watashitachi wa koko de seizan no uta wo utau~~~ anata e to</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div>
            <p style="font-size:30px" align="center">TABLE OF CONTENT</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>name</td>
                        <td>phoneNumber</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="person : ${listPerson}">
                        <tr>
                            <td th:text = "${person.id}"></td>
                            <td th:text = "${person.name}"></td>
                            <td>
                                <ul style="list-style-type: none;" th:each="phoneNumber : ${person.phoneNumber}">
                                    <li th:text="${phoneNumber.number}"></li>
                                </ul>
                            </td>
                            <td>
                            	<a class="buttonEdit" th:data-id="${person.id}">Edit</a>
                            	<div class="modal fade" role="dialog">
			            			<div class="modal-dialog">
					              		<form class="modal-content" action="#" th:action="@{/Edit}" th:object="${person1}" method="POST">
						              		<div class="modal-header">
						              			<button type="button" class="close" data-dismiss="modal">&times;</button>
						              		</div>
						                	<div class="modal-body">
						                		<div><input type="text" class="hidden" name="id" th:value="${person.id}"/></div>
						                		<div><input type="text" placeholder="Name" name="name" th:value="${person.name}"/></div>
						                		<div class="pull-right">
						                			<a id="phoneNumberEdit" class="btn btn-default">Edit Phone Number</a>
						                		</div>
						                	</div>
						                	<div class="modal-footer">
						                		<button type="submit" class = "btn btn-default">Submit</button>
						                		<button type="button" class = "btn btn-danger cancelbtn" data-dismiss="modal">Cancel</button>
						                	</div>
			                			</form>
			               			</div>
			            		</div>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <script>
	        $(document).ready(function(){
	            $(".buttonEdit").click(function(){
	            	$(this).next('.modal').modal();
	            });
	        });
       </script>
       <script>
       		$(document).ready(function(){
       			$("a#phoneNumberEdit").click(function(e){
       				e.preventDefault();
       				var person = {
       						"id" : $("[name='id']"),
       						"name" : $("[name='name']")
       				}
       				$.ajax({
       					type:"POST",
       					url : "/toPhoneNumberEdit",
       					data : JSON.stringify(person),
       					datatype : 'json',
       					contentType: 'application/json; charset=utf-8',
       					success : function(respone){
       						alert('aaa');
       					},
       					error : function(){
       						alert("Fock You");
       					}
       				});
       			});
       		});
       </script>
    </body>
</html>